/* Custom Styles */
body {
    background-color: #0f172a;
}

select option {
    background-color: #1e293b;
    color: white;
}

#srtOutput::-webkit-scrollbar {
    width: 5px;
}

#srtOutput::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 10px;
}
